body{
    background-color: pink;
}
nav{
    height: 70px;
    padding-top: 33px;
    border: 1px solid dotted;
}
.menu-options div{
    transition: 0.3s;
    text-align: center;
    padding-top: 10px;
}
.menu-options div:hover{
    background-color: rgb(253, 100, 126);
    color: white;
}

.container-fluid{
    background-color: white;
    min-height: 100vh;
    margin-right: 0;
    margin-left: 90px;
    padding-left: 130px;

}
.img-banner{
    width: 100%;
}
.box {
    --mask:
      radial-gradient(193.24px at 261.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 180px)/100% 360px,
      radial-gradient(193.24px at -171px 50%,#0000 99%,#000 101%) 90px 50%/100% 360px repeat-y;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

  .title-main{
    font-size: 80px;
    color: rgb(253, 100, 126);
    
  }

  .second-main{
    
        font-size: 70px;
        color: rgb(253, 100, 126);
        font-family: "Sofia", sans-serif;

  }
  .button-main{
    background: radial-gradient(#e66465, #e591c8);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 0px solid;
    padding: 10px;
    transition: 0.3s;
  }
  .button-main:hover{
    background: radial-gradient(#e591c8, #e66465);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
